/.DS_Store
/shopware-project
/.env
/.env.local
/.env.*.local
/.uniqueid.txt

/vendor/
/node_modules/

/var/*
!/var/.htaccess

/files/*
!/files/.htaccess

/public/bundles/
/public/theme/
/public/thumbnail/
/public/sitemap/

.phpunit.result.cache
